@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wallet-adapter-button {
  background-color: theme('colors.purple.500') !important;
}

.wallet-adapter-button:hover {
  background-color: theme('colors.purple.600') !important;
}

.wallet-adapter-modal-wrapper {
  background-color: theme('colors.gray.900') !important;
}
